{% extends 'base.html.twig' %}

{% block title %}
Hlavní stránka
{% endblock %}

{% block body %}
    <h1>Hlavní stránka</h1>
    <a href="{{ path('workshops')}}">Zkuste nabídku našich kurzů</a>
{% endblock %}
