{% extends 'base.html.twig' %}

{% block title %}
    Naše kurzy
{% endblock %}

{% block body %}
    <h1>Naše kurzy</h1>
    <ul>
        <li>Angličtina</li>
        <li>Němčina</li>
    </ul>
{% endblock %}
